@font-face {
  font-family: Elianto;
  src: url("./fonts/Elianto/Elianto/Elianto-Regular.otf") format("opentype");
}

.page {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  line-height: 1.2;
  background-color: rgb(0, 0, 0);
  background-image: none;
  /* font-size: $font-size-primary;
    color: $color-primary; /*
    font-family: $font-family; */
}

.div_bg {
  /* top: -4px; */
  height: 100%;
  width: 100% !important;
  text-align: left;
  position: absolute;
}

.text_container {
  margin: 0;
  /* background: black; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  /* margin-right: -50%; */
  transform: translate(-50%, -100%);
}

.underline {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
  text-shadow: 2px 2px black, 2px -2px black, -2px 2px black, -2px -2px black;
}

.text-shadow {
  text-shadow: 4px 4px black, 4px -4px black, -4px 4px black, -4px -4px black;
}

.underline2 {
  background-size: 1px 1em;
  box-shadow: inset 0 -0.2em black, inset 0 -0.225em #ffff00;
  display: inline;
}

.inline-block {
  display: inline-block;
}

.square {
  height: 30px;
  width: 30px;
  background-color: #ffff00;

  /* position: absolute; */
}

.bottom-square {
  position: relative;
  /* bottom: 48px; */
  left: -6px;
  bottom: -3px;
  font-size: 40px;
}

.title {
  font-size: 100px;
}

.subtitle {
  font-size: 30px;
}

@media only screen and (max-width: 420px) {
  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 20px;
  }

  .bottom-square {
    left: -4px;
    bottom: -2px;
    font-size: 20px;
  }
}

.details {
  left: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  transform: translate(-50%, 0);
}

.team {
  font-size: 14px;
}

a {
  color: #ffff00;
}
.details p {
  margin: 3px;
}

.page .container {
  overflow: none;
  top: 2%;
  margin: 0 auto;
  height: 97%;
  width: 84%;
  z-index: 100;
  max-width: 1240px;
  position: relative;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  color: #ffff00;

  font-family: "Elianto";
}
