@font-face {
  font-family: Elianto;
  src: url("./fonts/Elianto/Elianto/Elianto-Regular.otf") format("opentype");
}

.page {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  line-height: 1.2;
  background-color: rgb(0, 0, 0);
  background-image: none;
}

.div_bg {
  /* top: -4px; */
  height: 100%;
  width: 100% !important;
  text-align: left;
  position: absolute;
}

.text_container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -100%);
}

.text-shadow {
  text-shadow: 4px 4px black, 4px -4px black, -4px 4px black, -4px -4px black;
}

.underline2 {
  box-shadow: inset 1px -0.1em black, inset 0 -0.15em #ffff00;
  display: inline;
}

.inline-block {
  display: inline-block;
}

.square {
  height: 30px;
  width: 30px;
  background-color: #ffff00;
}

.bottom-square {
  position: relative;
  background-size: 2px 2px;
  background-color: #ffff00;
  display: inline-block;

  width: 13px;
  height: 13px;
  left: -7px;
}

.title {
  font-size: 100px;
}

.title div {
  display: inline-block;
}

.subtitle {
  font-size: 30px;
}

@media only screen and (max-width: 420px) {
  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 20px;
  }

  .bottom-square {
    left: -4px;

    width: 8px;
    height: 8px;
  }
}

@media only screen and (max-width: 320px) {
  .title {
    font-size: 45px;
  }

  .subtitle {
    font-size: 16px;
  }

  .bottom-square {
    width: 6px;
    height: 6px;
    left: -3px;
  }
}

.details {
  left: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  transform: translate(-50%, 0);
}
a {
  color: #ffff00;
}
.details p {
  margin: 3px;
  margin-bottom: 6px;
}

.page .container {
  overflow: none;
  top: 2%;
  margin: 0 auto;
  height: 97%;
  width: 87%;
  max-width: 1240px;
  position: relative;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  color: #ffff00;
  font-family: "Elianto";
}
